# Downloading Market and Fundamental Data with `yfinance`

pip install yfinance --upgrade --no-cache-dir 이거 해야 오류안남

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import yfinance as yf

## Ticker object 쓰면 야후 파이낸스에 있는거 전체적으로 사용가능

In [219]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol) 

# Ticker 쓰면 한개 기업밖에 안된다 -> Tickers 쓰면 됨
# symbols = ['MSFT', 'AAPL', 'FB']
# tickers = yf.Tickers(symbols)

# 시계열 데이터만 받는거면 그냥 yf.download도 가능
# yf.download(tickers=symbols).stack()

In [165]:
# 예를 들어 여기에 있는 Business Summary 이용해서 자연어처리 및 knowledge graph 작성 가능 (https://youtu.be/V_EEckDZIaY)
ticker.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.31955,
 'profitMargins': 0.25004,
 'grossMargins': 0.41005,
 'operatingCashflow': 104414003200,
 'revenueGrowth': 0.364,
 'operatingMargins': 0.28788,
 'ebitda': 110934999040,
 'targetLowPrice': 132,
 'recommendationKey': 'buy',
 'grossProfits': 104956000000,
 'freeCashflow': 80625876992,
 'targetMedianPrice': 169.64,
 'currentPrice': 142.9,
 'earningsGrowth': 1,
 'currentRatio': 1.062,
 'returnOnAssets': 0.19302,
 'numberOfAnalystOpinions': 42,
 'targetMeanPrice': 167.92,
 'debtToEquity': 210.782,
 'returnOnEquity': 1.27125,
 'targetHighPrice': 190,
 'totalCash': 61696000000,
 'totalDebt': 135491002368,
 'totalRevenue': 347155005440,
 'totalCashPerShare': 3.732,
 'financialCurrency': 'USD',
 'revenuePerShare': 20.61,
 'quickRatio': 0.887,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.017,
 'beta3Year': None,
 'enterpriseToEbitda': 21.958,
 '52WeekChange': 0.14871383,
 'morningStarRiskRating': None,
 'forwardEps': 5.68,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16530199552,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 3.882,
 'sharesShort': 100926641,
 'sharesPercentSharesOut': 0.0061000003,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.58693004,
 'netIncomeToCommon': 86801997824,
 'trailingEps': 5.108,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.24252033,
 'priceToBook': 36.81092,
 'heldPercentInsiders': 0.00072999997,
 'nextFiscalYearEnd': 1664150400,
 'yield': None,
 'mostRecentQuarter': 1624665600,
 'shortRatio': 1.28,
 'sharesShortPreviousMonthDate': 1628812800,
 'floatShares': 16512974627,
 'beta': 1.222222,
 'enterpriseValue': 2435955818496,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.932,
 'priceToSalesTrailing12Months': 6.8043537,
 'dateShortInterest': 1631664000,
 'pegRatio': 1.38,
 'ytdReturn': None,
 'forwardPE': 25.158451,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0061000003,
 'sharesShortPriorMonth': 93105968,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 143.29,
 'regularMarketOpen': 144.03,
 'twoHundredDayAverage': 137.74336,
 'trailingAnnualDividendYield': 0.005827343,
 'payoutRatio': 0.16309999,
 'volume24Hr': None,
 'regularMarketDayHigh': 144.17,
 'navPrice': None,
 'averageDailyVolume10Day': 80128925,
 'regularMarketPreviousClose': 143.29,
 'fiftyDayAverage': 147.49971,
 'trailingAnnualDividendRate': 0.835,
 'open': 144.03,
 'toCurrency': None,
 'averageVolume10days': 80128925,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1628208000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 142.56,
 'currency': 'USD',
 'trailingPE': 27.975725,
 'regularMarketVolume': 58773155,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2362165428224,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 80071912,
 'dayLow': 142.56,
 'ask': 142.84,
 'askSize': 2200,
 'volume': 58773155,
 'fiftyTwoWeekHigh': 157.26,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.24,
 'fiftyTwoWeekLow': 107.32,
 'bid': 142.8,
 'tradeable': False,
 'dividendYield': 0.0061000003,
 'bidSize': 1100,
 'dayHigh': 144.17,
 'regularMarketPrice': 142.9,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

### Get market data

In [222]:
yf.download(tickers=symbol, actions=True)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100600,469033600,0.0,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095352,175884800,0.0,0.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088353,105728000,0.0,0.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090540,86441600,0.0,0.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093165,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2021-10-04,141.759995,142.210007,138.270004,139.139999,139.139999,98322000,0.0,0.0
2021-10-05,139.490005,142.240005,139.360001,141.110001,141.110001,80861100,0.0,0.0
2021-10-06,139.470001,142.149994,138.369995,142.000000,142.000000,83221100,0.0,0.0
2021-10-07,143.059998,144.220001,142.720001,143.289993,143.289993,61732700,0.0,0.0
2021-10-08,144.029999,144.179993,142.559998,142.899994,142.899994,58718700,0.0,0.0

In [169]:
# get_actions로 Dividends, Stock Splits 따로 부를 수 있다
data = ticker.history(period='3mo', interval='1d', start=None, end=None, actions=True, auto_adjust=True, back_adjust=False)
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-09,142.536444,145.432099,142.436587,144.892914,99890800,0.0,0
2021-07-12,145.991277,146.101113,143.784577,144.283829,76299700,0.0,0
2021-07-13,143.814527,147.239404,143.415132,145.422119,100827100,0.0,0
2021-07-14,147.878448,149.346250,147.459063,148.926865,127050800,0.0,0
2021-07-15,149.016746,149.775604,146.869954,148.257874,106820300,0.0,0
...,...,...,...,...,...,...,...
2021-10-04,141.759995,142.210007,138.270004,139.139999,98322000,0.0,0
2021-10-05,139.490005,142.240005,139.360001,141.110001,80861100,0.0,0
2021-10-06,139.470001,142.149994,138.369995,142.000000,83221100,0.0,0
2021-10-07,143.059998,144.220001,142.720001,143.289993,61732700,0.0,0
2021-10-08,144.029999,144.179993,142.559998,142.899994,58718700,0.0,0

### 재무제표

In [172]:
# 연간 재무제표
ticker.financials

# 분기 재무제표
#ticker.quarterly_financials

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Research Development,18752000000.0,16217000000.0,14236000000.0,11581000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,67091000000.0,65737000000.0,72903000000.0,64089000000.0
Minority Interest,None,None,None,None
Net Income,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Selling General Administrative,19916000000.0,18245000000.0,16705000000.0,15261000000.0
Gross Profit,104956000000.0,98392000000.0,101839000000.0,88186000000.0
Ebit,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Operating Income,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2873000000.0,-3576000000.0,-3240000000.0,-2323000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9680000000.0,10481000000.0,13372000000.0,15738000000.0
Total Revenue,274515000000.0,260174000000.0,265595000000.0,229234000000.0
Total Operating Expenses,208227000000.0,196244000000.0,194697000000.0,167890000000.0
Cost Of Revenue,169559000000.0,161782000000.0,163756000000.0,141048000000.0
Total Other Income Expense Net,803000000.0,1807000000.0,2005000000.0,2745000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Net Income Applicable To Common Shares,57411000000.0,55256000000.0,59531000000.0,48351000000.0

### 재무상태표

In [173]:
ticker.balance_sheet
# ticker.quarterly_balance_sheet

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Total Liab,2.585490e+11,2.480280e+11,2.585780e+11,2.412720e+11
Total Stockholder Equity,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Other Current Liab,4.786700e+10,4.324200e+10,3.929300e+10,3.809900e+10
Total Assets,3.238880e+11,3.385160e+11,3.657250e+11,3.753190e+11
Common Stock,5.077900e+10,4.517400e+10,4.020100e+10,3.586700e+10
Other Current Assets,1.126400e+10,1.235200e+10,1.208700e+10,1.393600e+10
Retained Earnings,1.496600e+10,4.589800e+10,7.040000e+10,9.833000e+10
Other Liab,4.610800e+10,5.050300e+10,4.891400e+10,4.325100e+10
Treasury Stock,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Other Assets,3.395200e+10,3.297800e+10,2.228300e+10,1.817700e+10
Cash,3.801600e+10,4.884400e+10,2.591300e+10,2.028900e+10
Total Current Liabilities,1.053920e+11,1.057180e+11,1.159290e+11,1.008140e+11
Short Long Term Debt,8.773000e+09,1.026000e+10,8.784000e+09,6.496000e+09
Other Stockholder Equity,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Property Plant Equipment,4.533600e+10,3.737800e+10,4.130400e+10,3.378300e+10
Total Current Assets,1.437130e+11,1.628190e+11,1.313390e+11,1.286450e+11
Long Term Investments,1.008870e+11,1.053410e+11,1.707990e+11,1.947140e+11
Net Tangible Assets,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Short Term Investments,5.292700e+10,5.171300e+10,4.038800e+10,5.389200e+10
Net Receivables,3.744500e+10,4.580400e+10,4.899500e+10,3.567300e+10
Long Term Debt,9.866700e+10,9.180700e+10,9.373500e+10,9.720700e+10
Inventory,4.061000e+09,4.106000e+09,3.956000e+09,4.855000e+09
Accounts Payable,4.229600e+10,4.623600e+10,5.588800e+10,4.424200e+10

### 현금흐름표

In [176]:
ticker.cashflow
# ticker.quarterly_cashflow

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Investments,5.335000e+09,5.809300e+10,3.084500e+10,-3.354200e+10
Change To Liabilities,-1.981000e+09,-2.548000e+09,9.172000e+09,8.373000e+09
Total Cashflows From Investing Activities,-4.289000e+09,4.589600e+10,1.606600e+10,-4.644600e+10
Net Borrowings,2.499000e+09,-7.819000e+09,4.320000e+08,2.901400e+10
Total Cash From Financing Activities,-8.682000e+10,-9.097600e+10,-8.787600e+10,-1.797400e+10
Change To Operating Activities,8.810000e+08,-8.960000e+08,3.001600e+10,-8.480000e+09
Issuance Of Stock,8.800000e+08,7.810000e+08,6.690000e+08,5.550000e+08
Net Income,5.741100e+10,5.525600e+10,5.953100e+10,4.835100e+10
Change In Cash,-1.043500e+10,2.431100e+10,5.624000e+09,-1.950000e+08
Repurchase Of Stock,-7.599200e+10,-6.971400e+10,-7.526500e+10,-3.477400e+10
Total Cash From Operating Activities,8.067400e+10,6.939100e+10,7.743400e+10,6.422500e+10
Depreciation,1.105600e+10,1.254700e+10,1.090300e+10,1.015700e+10
Other Cashflows From Investing Activities,-7.910000e+08,-1.078000e+09,-7.450000e+08,-1.240000e+08
Dividends Paid,-1.408100e+10,-1.411900e+10,-1.371200e+10,-1.276900e+10
Change To Inventory,-1.270000e+08,-2.890000e+08,8.280000e+08,-2.723000e+09
Change To Account Receivables,6.917000e+09,2.450000e+08,-5.322000e+09,-2.093000e+09
Other Cashflows From Financing Activities,-1.260000e+08,-1.050000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,6.517000e+09,5.076000e+09,-2.769400e+10,1.064000e+10
Capital Expenditures,-7.309000e+09,-1.049500e+10,-1.331300e+10,-1.245100e+10

### Sustainability: Environmental, Social and Governance (ESG) 도 제공중.. good

In [30]:
ticker.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           7.99
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               53
governanceScore                       8.64
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.92
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           13.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.29
governancePercentile                  None
militaryContract                     False

### 애널리스트 추천

In [195]:
# 수치까지 나오면 좋았을텐데.. 까비
ticker.recommendations.tail(10)

                                  Firm      To Grade    From Grade Action
Date
2021-07-28 11:04:39           Barclays  Equal-Weight                 main
2021-07-28 12:04:58     Morgan Stanley    Overweight                 main
2021-07-28 12:30:58        Wells Fargo    Overweight                 main
2021-07-28 13:19:21  Canaccord Genuity           Buy                 main
2021-07-28 14:04:02      Piper Sandler    Overweight                 main
2021-07-28 14:08:03      Deutsche Bank           Buy                 main
2021-07-28 14:20:34       Loop Capital           Buy                 main
2021-09-01 13:06:05     Wolfe Research  Peer Perform  Underperform     up
2021-09-09 13:49:40      Piper Sandler    Overweight                 main
2021-09-22 16:07:34  Tigress Financial    Strong Buy                 main

### Upcoming Events

In [181]:
# 실적발표일 : 10/27 ~ 11/1 사이

ticker.calendar

                                    0                    1
Earnings Date     2021-10-27 10:59:00  2021-11-01 12:00:00
Earnings Average                 1.23                 1.23
Earnings Low                     1.05                 1.05
Earnings High                    1.35                 1.35
Revenue Average           84690700000          84690700000
Revenue Low               77654100000          77654100000
Revenue High              89411000000          89411000000

### Option Expiration Dates

In [34]:
ticker.options

('2021-10-15',
 '2021-10-22',
 '2021-10-29',
 '2021-11-05',
 '2021-11-12',
 '2021-11-19',
 '2021-12-17',
 '2022-01-21',
 '2022-02-18',
 '2022-03-18',
 '2022-04-14',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19')

In [36]:
expiration = ticker.options[0]
options = ticker.option_chain(expiration)

In [38]:
options.calls.head()
#options.puts.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL211015C00035000,2021-10-08 15:44:30,35.0,108.00,107.20,108.80,0.0,0.0,1,241,4.187505,True,REGULAR,USD
1,AAPL211015C00040000,2021-09-22 18:17:47,40.0,106.26,102.20,103.70,0.0,0.0,3,162,3.515626,True,REGULAR,USD
2,AAPL211015C00045000,2021-10-04 15:37:00,45.0,93.75,97.30,98.80,0.0,0.0,6,86,3.648438,True,REGULAR,USD
3,AAPL211015C00050000,2021-09-28 15:51:37,50.0,92.55,92.20,93.80,0.0,0.0,3,134,3.164065,True,REGULAR,USD
4,AAPL211015C00055000,2021-10-06 14:00:50,55.0,83.85,87.45,88.55,0.0,0.0,6,162,2.890628,True,REGULAR,USD

## Data Download with proxy server

IP 블럭 피하려면 Proxy server 쓰는방법도 가능

In [40]:
PROXY_SERVER = 'PROXY_SERVER'
# msft = yf.Ticker("MSFT")
# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## 참고. 판다스 데이터리더로 읽어오기

In [68]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

data = pdr.get_data_yahoo('SPY', start='2017-01-01', end='2019-04-30', auto_adjust=True)
data.tail()

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close    Volume
Date
2019-04-23  278.556842  280.914266  278.307705  280.665100  52246600
2019-04-24  280.578879  280.933443  279.888906  280.042236  50392900
2019-04-25  279.936716  280.569194  278.604704  279.869629  57770900
2019-04-26  279.917581  281.249594  279.093433  281.172943  50916400
2019-04-29  281.268798  282.169596  281.172963  281.613770  57197700

In [69]:
data = pdr.get_data_yahoo('SPY', start='2017-01-01', end='2019-04-30', auto_adjust=False)
data.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,280.665039,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,280.042206,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,279.869659,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,281.172943,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,281.613708,57197700